@import "../transform";
@import "../transform-origin";
@import "../transitions";
@import "../animation";
// Styling for the material icons.

.backgr {fill:#FFF;}
@general-icon-mutation-duration: 200ms;

.material-icon-container {
  width: 25px;
  height: 25px;
  position: relative;

  // Material icons inside their container.
  & .material-icon {
    position: absolute;
    top: 0;
    left: 0;
  }
}


// The SVG icons themselves.
.material-icon {
  width: 25px;
  height: 25px;
  position: relative;

  &[type="none"] {
    // General
    display: none;
    // The menu icon.
    .menu, .playback {
      display: none;
    }
    // The initial transformations for the menu icon when it is not visible.
    .menu {
      .first, .third {
        .transform(translateY(0) rotate(0deg) scaleX(1));
      }
    }
  }
  // Generalized 'come-in' animation for icons (when svg is replaced).
  &[type="from-none-to-user"],
  &[type="from-none-to-warning"],
  &[type="from-none-to-menu"],
  &[type="from-none-to-plus"],
  &[type="from-none-to-cast-ready"],
  &[type="from-none-to-cast-active"] {
    &:extend(.icon-scaleup);
  }

  // Generalized 'go out' animation for icons (when svg is replaced).
  &[type="from-user-to-none"],
  &[type="from-warning-to-none"],
  &[type="from-menu-to-none"],
  &[type="from-plus-to-none"],
  &[type="from-back-arrow-to-none"],
  &[type="from-forward-arrow-to-none"],
  &[type="from-cast-ready-to-none"],
  &[type="from-cast-active-to-none"] {
    &:extend(.icon-fadeout);
  }
}

.icon-scaleup {
  display: block;
  .transform-origin(50% 50%);
  .animation(icon-scaleup @general-icon-mutation-duration);
  @-webkit-keyframes icon-scaleup {
    from { -webkit-transform: scale(0.0); }
    to { -webkit-transform: scale(1); }
  }
}

.icon-fadeout {
  display: block;
  .animation(icon-fade @general-icon-mutation-duration);
  @-webkit-keyframes icon-fade {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
}

