@import "common";


// Primary definitions
.core-flex {
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
}

.core-flexd {
  display: -ms-flex;
  /* @alternative */
  display: -webkit-flex;
  /* @alternative */
  display: flex;
}

.core-flex-display {
  &:extend(.core-flexd);
}

.core-flex-vertical {
  -ms-flex-direction: column;
  /* @alternative */
  -webkit-flex-direction: column;
  /* @alternative */
  flex-direction: column;
}

.core-flex-direction-row {
  -ms-flex-direction: row;
  /* @alternative */
  -webkit-flex-direction: row;
  /* @a;ternative */
  flex-direction: row;
}


.core-flex-align-center {
  -ms-flex-align: center;
  /* @alternative */
  -webkit-align-items: center;
  /* @alternative */
  align-items: center;
}

.core-flex-align-end {
  -ms-flex-align: end;
  /* @alternative */
  -webkit-align-items: flex-end;
  /* @alternative */
  align-items: flex-end;
}

.core-flex-shrink(@val: 0) {
  -ms-flex-shrink: @val;
  /* @alternative */
  -webkit-flex-shrink: @val;
  /* @alternative */
  flex-shrink: @val;
}

.core-flex-grow(@val: 0) {
  -ms-flex-grow: @val;
  /* @alternative */
  -webkit-flex-grow: @val;
  /* @alternative */
  flex-grow: @val;
}

.core-fit {
  &:extend(.core-fill-position);
}

.core-flex-align-start-justified {
  -ms-flex-pack: start;
  /* @alternative */
  -webkit-justify-content: flex-start;
  /* @alternative */
  justify-content: flex-start;
}

.core-flex-align-center-justified, .core-flex-align-center-center {
  -ms-flex-pack: center;
  /* @alternative */
  -webkit-justify-content: center;
  /* @alternative */
  justify-content: center;
}

.core-flex-align-end-justified {
  -ms-flex-pack: end;
  /* @alternative */
  -webkit-justify-content: flex-end;
  /* @alternative */
  justify-content: flex-end;
}

.core-flex-align-space-between {
  -ms-flex-pack: justify;
  /* @alternative */
  -webkit-justify-content: space-between;
  /* @alternative */
  justify-content: space-between;
}
//////////////////////////////////////////
// The official layout names.
//////////////////////////////////////////
.flex {
  &:extend(.core-flex);
}

.fit {
  &:extend(.core-fill-position);
}

.auto {
  -ms-flex: 1 1 auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}

.relative {
  position: relative;
}

.invisible {
  visibility: hidden;
}

.horizontal {
  &:extend(.core-flex-display);
  &:extend(.core-flex-direction-row);
}

.vertical {
  &:extend(.core-flex-display);
  &:extend(.core-flex-vertical);
}

.center {
  &:extend(.core-flex-align-center);
}

.end {
  &:extend(.core-flex-align-end);
}

.start-justified {
  &:extend(.core-flex-align-start-justified);
}

.center-justified {
  &:extend(.core-flex-align-center-justified);
}

.end-justified {
  &:extend(.core-flex-align-end-justified);
}

.animated {
  visibility: visible !important;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  /* @alternative */
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
