// Configures the material deisgn base panel

@import "layout";
@import "shadow";
@import "common";

.material-panel {
  display: block;
  &:extend(.fit);

  // The overlay part
  & &-overlay {
    &:extend(.core-fill-position);
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: opacity ease-in-out 0.38s, visibility ease-in-out 0.38s;
  }

  // The overlay active state
  &-overlayed > .material-panel-overlay {
    visibility: visible;
    opacity: 1;
  }
}