@import "fill";

/** General options */
* {
  -webkit-box-sizing: border-box;
  /* @alternative */
  -moz-box-sizing: border-box;
  /* @alternative */
  box-sizing: border-box;
}

html, body {
  .fill();
}
